@media (max-width: 1200px)
  .container 
    max-width: 960px
  .slider 
    width: 600px
    &-item
      & img
        height: 100%
  .card
    width: 230px
    height: 230px
  .other
    &-grid 
      grid-template-columns: repeat(3,300px)
      grid-column-gap: 20px
      grid-row-gap: 20px
  .grid-card
    &:first-child
      .grid-card
        &__image
          width: 300px
        &__about
          padding: 35px 21px 30px 30px
    &__image
      height: 240px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newslatter-wrapper
    max-width: 700px
  .logo 
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid 
      flex-direction: column
    &-rightside
      flex-direction: row
  .slider
    width: 100%
    margin-bottom: 30px
    &-item
      & img
        width: 100%
  .map
    width: 340px
    height: 210px
  .booking
    width: 340px
    height: 210px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 225px
  .other
    &-grid 
      grid-template-columns: repeat(2,1fr)
      grid-column-gap: 20px
      grid-row-gap: 20px
      justify-content: center
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 100%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin: 0
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-column: span 5
        grid-row: 4
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &_visible
        display: block
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
    &_mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 10000
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
  .menu
    &-button 
      display: flex
      width: 16px
      height: 14px
      padding: 
      flex-direction: column
      border: none
      outline: none
      background-color: #fff
      cursor: pointer
      &__line 
        width: 16px
        height: 1px
        background-color: $text-color
        margin-bottom: 3px
  .user
    &__name
      &_light
        color: $light
        margin: 0 
        margin-top: 20px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    width: 100%
    height: 450px
    margin-bottom: 30px
  .map
    width: 49%
    height: 190px
  .booking
    width: 49%
    height: 190px
    &__pricetag
      font-size: 20px
      line-height: 28px
    &__start, &__per-room
      font-size: 9px
      line-height: 14px
    &__room
      &_text
        font-size: 10px
        line-height: 14px
    &__call-center
      &_text
        font-weight: 600
        font-size: 16px
        line-height: 22px
      &_num
        font-weight: 600
        font-size: 16px
        line-height: 22px
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        width: 580px
        height: 300px
        margin-right: 20px
        &_text
          width: 455px
          font-size: 12px
      & .slick
        &-arrow
          &.slick-prev
            display: none
          &.slick-next 
            display: none
  .card
    width: 280px
    height: 255px
  .other
    &-grid
      grid-template-columns: repeat(2, minmax(140px, 225px))
      &__card
        display: flex
        flex-direction: column
        &:first-child
          display: flex
          flex-direction: column
        &:nth-child(2) 
          grid-column-start: 1
          grid-column-end: 3
        &:nth-child(3) 
          grid-column-start: 1
          grid-column-end: 3
        &:nth-child(4) 
          grid-column-start: 1
          grid-column-end: 3
        &:nth-child(5) 
          grid-column-start: 1
          grid-column-end: 3
  .grid-card
    &:first-child
      .grid-card
        &__image
          border-radius: 8px 8px 0px 0px
          height: 250px
          width: 100%
          object-fit: cover
        &__flash-offer
          position: absolute
          left: 0
          top: 30px
          color: $light
          background: $primary
          padding: 4px 9px
          font-weight: 600
          font-size: 8px
          line-height: 10px
          border-radius: 0px 4px 4px 0px
        &__text
          display: none
        &__rating
          display: none
        &__about
          display: flex
          flex-direction: column
          align-items: flex-start
          padding: 30px 21px 30px 25px
          border-radius: 0px 0px 8px 8px
          background: $dark
          color: $light
        &__title
          font-weight: bold
          font-size: 18px
          line-height: 23px
          padding-bottom: 23px
        &__person-room
          display: flex
          flex-direction: column
          align-items: flex-start
          font-size: 12px
          line-height: 15px
          margin-bottom: 24px
        &_address
          padding-bottom: 11px
        &_guests
          padding-bottom: 11px
        & img
          margin-right: 14px
        &__bottom
          display: flex
          align-items: flex-end
          justify-content: space-between
          width: 100%
        &_cost
          display: flex
          flex-direction: column
  .footer
    &__bottom
      &_img
        right: 40%
        bottom: 0
@media (max-width: 576px)
  .modal
    &__dialog 
      top: 55%
      padding: 10px 20px
      width: 90%
  .logo
    width: 99px
  .hotel
    &-rightside
      flex-direction: column
  .slider
    width: 100%
    height: 300px
    margin-bottom: 15px
    &-item
      width: 100%
      height: 300px
    & .slick
      &-arrow 
        display: none
  .map
    width: 100%
    height: 190px
  .booking
    width: 100%
    height: 190px
    margin-bottom: 10px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    &-title
      font-size: 26px
      line-height: 32px
    &-slider
      &__item
        width: 500px
        height: 280px
        margin-right: 30px
        &_text
          width: 420px
          font-size: 12px
  .activities
    &__title
      text-align: center
    &-wrapper
      justify-content: center
  .card
    width: 80%
    &__image
      width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories   
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
  @media (max-width: 420px) and (min-width: 319px)
    .modal
      &__dialog 
        top: 55%
        padding: 10px 20px
        width: 100%
    .navbar
      &__search
        &_mobile
          &_visible
            width: 260px
    .slider
      width: 100%
      height: 180px
      margin-bottom: 10px
      &-item
        height: 180px
    .reviews
      &-title
        font-size: 20px
        line-height: 26px
      &-slider
        &__item
          width: 281px
          margin-right: 30px
          height: 100%
          &_user
            &__avatar
              margin-top: -50px
          &_text
            width: 219px
            margin-top: 50px
          &_user
            margin-bottom: 0
    .footer
      &__bottom
        &_img
          right: 30%
          bottom: 0
            

