.footer
  background: $dark
  color: $light
  padding: 108px 0 46px 0
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(43px, min-content)
    align-items: start
  &__logo
    grid-row: 1 / 4
    margin-top: 15px
  &__categories
    grid-row: 1 / 4
  &__social 
    &-links 
      display: flex
      align-items: center
      justify-content: space-between
      min-width: 83px
    &-network
      display: flex
      align-content: center
      grid-row: 2 / 4
      grid-column: 3 / 5
  &__contact
    &-details
      grid-column: span 2
    &-form
      grid-column: span 2
  &__form
    display: flex
    align-items: start
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
    &_inline
      margin: 0 43px 0 0
    &_mb-3
      margin-bottom: 30px
  &__item
    display: flex
    align-items: flex-start
    font-size: 14px
    line-height: 160%
    color: #BDBDBD
    &_mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      min-width: 40px
  &__link
    text-decoration: none
    color: #BDBDBD
  &__text
    color: #BDBDBD
    margin-bottom: 22px
  &__input
    width: 100%
    &-group
      margin-bottom: 15px
      flex-basis: 48%
  &__message
    flex-basis: 100%
    margin-bottom: 23px
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__bottom
    margin-top: 100px
    padding-bottom: 50px
    position: relative
    display: flex
    justify-content: center
    padding-top: 10px
    &_img
      position: absolute
      right: 0
.bottom-info
  &__text
    color: $light
    font-size: 12px
    line-height: 15px
    margin-right: 10px
